*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.movie-container{
    background: whitesmoke;
    width: 100%;
    max-width: 1200px;
    margin: 1px;    
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  letter-spacing: 1px; 
}
.each-movie{
  background: white;
  border:1px solid black;
}
@media screen and (min-width : 992px){
  .movie-container{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3 , 1fr);
  }
}
.image{
  text-align: center;
  margin-left: 100px;
}